$selectedColor: red;
$selectedTextColor: white;

$unavailableColor: grey;
$unavailableTextColor: white;

html, body{
    overflow-x: hidden;
}

body{
    margin: 0;
    width: 100vw;
}

.day-block{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    align-content: center;
}

.day-title{
    @extend .day-block;
    padding: 1px;
    font-weight: bold;
    font-family: monospace;
}

.day{
    @extend .day-block;
    border: 1px solid black;    
    cursor: pointer;
    user-select: none;
    touch-action: none;
    &:not(.unavailable):hover{
        border-color: $selectedColor;
    }
}

.selected:not(.unavailable){
    background-color: $selectedColor;
    color: $selectedTextColor;
}

.unavailable{
    background-color: $unavailableColor;
    color: $unavailableTextColor;
    cursor: not-allowed;
}

.calendar{
    @media (min-width: 576px){
        min-width: 500px;
        width: 500px;
        margin: 15px;
    }
    @media (max-width: 575.98px){
        padding: 0 15px;
    }
    width: 100%;
    margin: 15px 0;
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.controls{
    @media (min-width: 576px){
        min-width: 500px;
        width: 500px;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    button{
        width: 32px;
        height: 32px;
    }
}

.monthHeader{
    display: flex;
    justify-content: space-between;
    width: calc(100% - (2 * 32px));
    padding: 0 15px;

    &.single{
        justify-content: space-around;
    }

    > span{
        align-content: center;
    }
}

.picker{
    display: flex;
    justify-content: space-between;

    @media (max-width: 575.98px){
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    > div{
        display: inline-block;
    }
}

.state-legend{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    &>span{
        &:before{
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid grey;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}

.state-selected::before{
    background-color: $selectedColor;
}

.state-unavailable::before{
    background-color: $unavailableColor;
}

.notInMonth{
    opacity: 0.25;
}

.example-inputs{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 15px;

    @media (max-width: 575.98px){
        flex-direction: column;
        width: 100%;
    }

    input{
        @media (min-width: 576px){
            width: calc(34px*7);
        }
        width: calc(100% - 30px);
        box-sizing: border-box;
        padding: 5px;

        @media (max-width: 575.98px){
            &:not(:first-of-type){
                margin-top: 15px;
            }
        }
    }
}